extends all

snippet ttfn "#[tokio::test]"
	#[tokio::test]
	async fn ${1:test_name}() {
		${0}
	}

snippet main "fn main() { ... }"
	fn main() {
		${1:any}
	}

snippet allowdead "allow(dead_code)"
	#[allow(dead_code)]
	$0

snippet allowunuse "allow(unuse)"
	#[allow(unuse)]
	$0
